body {
  background-color: gray;
  text-align: center;
}

h1 {
  font-size: 40px;
  color: navy;
  font-weight: bolder;
  font-family: neuropol;
  color: white
}

p {
  color: navy;
  font-weight: bold;
  font-family: handlee;
  color: white;
}

h3 {
  color: black;
  font-weight: bold;
  font-style: italic;
  color: white;

}

div {
  display: inline-block;
  width: 200px;
  height: 200px;
}

img{
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: black 5px solid;
}
