body {
  background-color: coral;
  text-align: center;
}

h1 {
  font-family: handlee;
  color: navy;
  font-weight: bolder;
  font-family: neuropol;
}

h3, p {
  color: navy;
  font-weight: bold;
  font-family: handlee;
}

div {
  display: inline-block;
  width: 200px;
  height: 200px;
}

img{
  width: 180px;
  height: 180px;
}
